:root {
    --label-color: var(--text-color-1);

    --submit-btn-bg: var(--secondary-color-3);
    --submit-btn-text-color: var(--secondary-color-1);

    --details-bg: var(--secondary-color-3);
    --details-text-color: var(--text-color-1);

    --form-bg: var(--secondary-color-2);
    --form-border-color: var(--text-color-1);
}
h1 {
    text-align: center;
}
.flex {
    display: flex;
}

form {
    display: grid;
    padding: 1rem;
    margin-inline: 1rem;
    background-color: var(--form-bg);
    border: 1px solid var(--form-border-color);
}
.form-field {
    display: grid;
    padding: 1rem;
}
.flex-on-large {
    display: grid;
    gap: 0.5rem;
}
.form-field label {
    font-weight: 500;
    font-size: 1.2rem;
    color: var(--label-color);
}
.form-field input {
    margin-right: 2rem;
}
.field-header {
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0.5rem;
}
.field-header + *  {
    margin-left: 2rem;
}

.form-field:has(#description) {
    flex-direction: column;
}

details p {
    border: 1px solid;
    padding: 1rem;
    background-color: var(--details-bg);
    color: var(--details-text-color);
    border-radius: 0.5rem;
    margin-top: 0.5rem;
}

button {
    width: fit-content;
    margin: 0 auto;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: var(--submit-btn-bg);
    color: var(--submit-btn-text-color);
    transition: transform 0.25s ease;
}
button:hover, button:focus {
    transform: scale(1.1);
}

#total-tickets-submitted {
    text-align: center;
}