:root {
    font-family: "Roboto", sans-serif;
    
    --header-bg-color: #ccc;
    --footer-bg-color: var(--header-bg-color);

    --main-bg-color: #def;

    --page-width: 100vw;
}
body, h1 {
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #eee;
}

header {
    text-align: center;
    background-color: var(--header-bg-color);
    width: var(--page-width);
    padding-block: 1rem;
}

main {
    background-color: var(--main-bg-color);
    width: var(--page-width);
    height: fit-content;
    position: relative;
}
.hero img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.data, .weather {
    width: 100%;
    padding-block: 2rem;
    border-block: 1px solid #0002;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.data h2, .weather h2 {
    text-align: center;
    margin-block: .5rem;
}
.data-block, .weather-block {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-block: .25rem;
}
.data-block h3, .weather-block h3 {
    margin: 0;
}
.data-block span, .weather-block span {
    margin-block: 0;
    margin-left: 1rem;
}

.weather-icon {
    width: 20%;
    text-align: center;
    font-size: 4rem;
    margin: 0;
}

footer {
    text-align: center;
    background-color: var(--footer-bg-color);
    width: var(--page-width);
}