:root {
    font-family: "Roboto", sans-serif;

    --header-bg-color: #ccc;

    --footer-bg-color: var(--header-bg-color);
    --footer-txt-color: #000;
}
body {
    margin: 0;
    padding: 0;
}
header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ccc;
    padding: 0.5rem 1rem;
}
nav ul {
    padding: 0;
}
nav li {
    list-style: none;
}
nav a {
    text-decoration: none;
}
nav {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateY(0);
    transition: transform 1s ease;
    z-index: -1;
    border: 1px inset;
    box-sizing: border-box;
    margin: 0;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}
.hamburger-btn {
    width: 2rem;
    height: 2rem;
    padding: 0;
}
.hamburger-btn::after {
    --color: #666;
    width: 100%;
    height: 100%;
    content: '';
    display: block;
    background: linear-gradient(#0000 25%, var(--color) 25%, var(--color) 35%, #0000 35%, #0000 45%, var(--color) 45%, var(--color) 55%, #0000 55%, #0000 65%, var(--color) 65%, var(--color) 75%, #0000 75%);
}
.nav.open {
    transform: translateY(100%);
}
.nav.open + .hamburger-btn::after {
    background: linear-gradient(45deg, #0000 40%, var(--color) 40%, var(--color) 60%, #0000 60%),
        linear-gradient(-45deg, #0000 40%, var(--color) 40%, var(--color) 60%, #0000 60%);
}

main {
    max-width: 800px;
    margin-inline: auto;
}
h2 {
    width: 100%;
    text-align: center;
}
.album {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 1rem;

}
.temple-element {
    margin: 0;
}
.temp-img-placeholder {
    width: 100%;
    aspect-ratio: 1;
    border: inset 1px;
}

footer {
    color: var(--footer-txt-color);
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: var(--footer-bg-color);
    padding-block: 0.5rem;
}
footer p {
    margin: 0;
}